@page "/"
@using Crews.PlanningCenter.Api
@using Microsoft.AspNetCore.Components.Authorization
@inject PeopleClient PeopleClient
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<AuthorizeView>
    <Authorized>
        @if (_name is null)
        {
            <p>Loading...</p>
        }
        else
        {
            <p>Welcome, @_name!</p>
        }
        <a href="/logout">Log Out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/login">Log In</a>
    </NotAuthorized>
</AuthorizeView>

Welcome to your new Fluent Blazor app.

@code 
{
    private string? _name;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (authState.User.Identity?.IsAuthenticated == true)
        {
            var result = await PeopleClient.Latest.People.GetAsync();
            _name = result?.Data?.FirstOrDefault()?.Attributes?.Name;
        }

        await base.OnInitializedAsync();
    }
}